body {
    margin: 0;
    text-align: center;
    color: white;
    font-family: "Helvetica", "din", "BebasNeue Light";
    font-weight: Light, normal, lighter;
}
.slices {
    position: absolute;
    width: 100%;
    min-height: 100%;
    color: rgba(0, 0, 0, 0);
    text-align: left;
    text-transform: uppercase;
    display: flex;
    display: -webkit-flex;
}
